body{
    margin: 0;
    padding: 0;
}

main{
    width: 80%;
    margin: 0 auto;
}

#top{
    background-color: brown;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 100px;
    right: 100px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#top.show{
    opacity: .5;
}